@mixin boxShadow ($verticalValue, $horizontalValue, $blur, $spreadRadius, $color) {
  -webkit-box-shadow: $verticalValue $horizontalValue $blur $spreadRadius $color;
  -moz-box-shadow: $verticalValue $horizontalValue $blur $spreadRadius $color;
  box-shadow: $verticalValue $horizontalValue $blur $spreadRadius $color;
};